@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  /*font-family: "Microsoft YaHei",Heiti SC,sans-serif;*/
}
*:focus {
  outline: none;
}
body {
  height: 100%;
  border: 1px sosolid black;
  background-size: 110%;/*(如若长宽比足够可换为cover)*/
  background-position: center top;
  /*background-attachment: fixed; 手机图片质量会下降*/
}

  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #304165;
    font-family: "Microsoft YaHei",Heiti SC,sans-serif;
    
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #304165;
  font-family: "Microsoft YaHei",Heiti SC,sans-serif;
}
  #passbox {
    width: 80%;
    padding: 1em 1em;
    margin: 20% auto 0 auto;
    background-color:rgba(256,256,256,0.35);
    border: 1px solid rgba(256,256,256,0.35);
    border-radius: 15px;
    overflow: hidden;
  }
  #name,#password{
    display: block;
    font-size: 18px;
    width: 80%;
    height: 2em;
    margin: .5em auto;
    padding: 0 1em;
    border: 1px solid #304165;
    border-radius: 1em/50%;
    background-color:rgba(256,256,256,0.1);
  }
  #submit{
    display: block;
    float: right;
    font-size: 2em;
    font-weight: bold;
    padding: .2em 1em;
    color: #DB3B1A;
    background-color: rgba(256,256,256,0.1);
    border: 1px solid #304165;
    border-radius: 1em/50%;
    cursor:pointer;
  }
}
@media screen{
  #passbox{
    margin: 11.8% auto;/*垂直黄金分割*/
  }
  #submit{
    margin: 0 0;
  }
}